<h1>New User</h1>

<%= render "form.html", assigns |> Map.put(:action, Routes.user_path(@conn, :create)) |> Map.put(:form_type, :new) %>

<span><%= link "Back", to: Routes.page_path(@conn, :index) %></span>
